<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="loginContainer">
        <form id="loginBurdeos">
            <h1>Iniciar Sesión</h1>
            <div class="inputContainer">
                <input type="text" id="email" placeholder="email" name="email">
                <label for="email">Correo Electronico</label>
            </div>
            <div class="inputContainer">
                <input type="password" id="pass" placeholder="pass" name="pass">
                <label for="pass">Contraseña</label>
            </div>
            <button>Iniciar Sesión</button>
        </form>
    </div>
    <script src="js/script.js"></script>
</body>

</html>